{% extends 'inventory/base/base.html'%}
{% load static %}
{% block main %}
<div class="container-fluid">
    <div class="row">            
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                <div>
                                    <p class="mb-2">Total Products</p>
                                    <h4>{{total_peoduct}}</h4>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                <div>
                                    <p class="mb-2">Total Sell Product</p>
                                    <h4>{{total_sell}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                <div>
                                    <p class="mb-2">Total Sold Amount</p>
                                    <h4>{{total_sell_amount}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-4 card-total-sale">
                                <div>
                                    <p class="mb-2">Total Product Cost</p>
                                    <h4>{{total_costing}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">  
            <div class="card card-block card-stretch card-height">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Total Summary</h4>
                    </div>  
                </div> 
                <div class="card-body pb-2">
                    <div class="d-flex flex-wrap align-items-center mt-2">
                        <div class="d-flex align-items-center progress-order-left">
                            <div class="progress-value ml-3 pr-5 border-right">
                                <h5>{{average_total}}</h5>
                                <p class="mb-0">Average Orders</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center ml-5 progress-order-right"> 
                            <div class="progress-value ml-3">
                                <h5>{{average_cost}}</h5>
                                <p class="mb-0">Average Costing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div id="layout1-chart-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}