{% extends 'pos/base/base.html'%}
{% load static %}
{% block main %}
<div class="container-fluid">
  <div class="row">                  
      <div class="col-lg-12" style="margin-top:5%">
        <div class="card card-block card-stretch card-height print rounded">
            <div class="card-header d-flex justify-content-between bg-primary header-invoice">
              <div class="iq-header-title">
                <h4 class="card-title mb-0">OrderNo#{{order.id}}</h4>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8">
                  <h5 class="mb-3">Order Summary</h5>
                  <div class="table-responsive-sm">
                    <table class="table">
                      <thead>
                          <tr>
                                <th class="text-center" scope="col">#</th>
                                <th scope="col">Item</th>
                                <th class="text-center" scope="col">Quantity</th>
                                <th class="text-center" scope="col">Price</th>
                                <th class="text-center" scope="col">Totals</th>
                          </tr>
                      </thead>
                        <tbody>
                          {% for ord in order.product.all%}
                            <tr>
                              <th class="text-center" scope="row">{{forloop.counter}}</th>
                              <td width="60%">
                                <h6 class="mb-0">{{ord.product.name}}</h6>
                                <p class="mb-0">
                                  <span class="badge badge-primary">{{ord.product.color}}</span>
                                  <span class="badge badge-warning">{{ord.product.size}}</span>
                                </p>
                              </td>
                              <td class="text-center">{{ord.quantity}}</td>
                              <td class="text-center">${{ord.price}}</td>
                              <td class="text-center"><b>${{ord.get_total}}</b></td>
                            </tr>   
                          {% endfor %} 
                            <tr class=""> 
                              <td class="text-right" colspan="4"><h4>Subtotal</h4></td>
                              <td class="text-right"><b class="text-danger">${{order.subtotal}}</b></td>
                            </tr>
                            <tr>  
                              <td class="text-right" colspan="4"><h4>Discount</h4></td>
                              <td class="text-right"><b class="text-danger">${{order.discount}}</b></td>
                            </tr>
                            <tr>
                              <td class="text-right" colspan="4"><h2>Total</h2></td>
                              <td class="text-center"><b>${{order.total}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                          <h4 class="">Customer Information</h4>
                        </div>
                      </div>
                      <div class="card-body">
                        <form method="post" id="bilprint">{% csrf_token %}
                          <div class="form-group">
                            <label for="cname">Customer Name</label>
                            <input type="text" class="form-control" name="cname" id="cname" value="" placeholder="Enter Name" required>
                          </div>
                          <div class="form-group">
                            <label for="cemail">Payment Status</label>
                            <select class="form-control" name="pstatus" id="pstatus">
                            {% for paymentstatus, paymentstatus_label in status %}
                              <option value="{{ paymentstatus }}" {% if selected_paymentstatus == paymentstatus %}selected{% endif %}>{{ paymentstatus_label }}</option>
                            {% endfor %}
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="cphone">Phone</label>
                            <input type="text" class="form-control" name="cphone" id="cphone" value="" placeholder="Enter phone" required>
                          </div>
                          <label for="caddress">Address</label>
                          <div class="form-label-group">
                            <textarea data-length="20" id="caddress" name="caddress" class="form-control" rows="3" placeholder="Enter address"></textarea>
                          </div>
                          <button type="submit" class="btn btn-primary" >Submit</button>
                        </form>  
                      </div>
                  </div> 
                </div>                            
              </div>                           
            </div>
        </div>
      </div>                                    
  </div>
</div>  

<button class="btn btn-primary mr-2" onclick=printBarcode()>Print Now</button>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  var companyName="Joely Shop";
  var currentDateTime="{% now "l, F j, Y, P" %}";
  var orderID="{{order.id}}";
  
  $('#bilprint').on('submit', function(event) {
    event.preventDefault();
    var form=this;
    $.alert.open("confirm", "Do you want to print receipt?", function (button) {
      
      if (button == 'yes') {
        printBarcode();
        form.submit();
      }
      else{
        form.submit();
      }
    });
    //alert('Form submitted!');
  });
  function printBarcode() {
    var customerName=$("#cname").val();
    var customerPhone=$("#cphone").val();
    var customerAddress=$("#caddress").val();
    var paymentStatus=$("#pstatus option:selected").val();
    var strVar = "";
    let pname="";
    strVar += "<html>";
    strVar += "<head>";
    strVar += '<meta charset="utf-8">';
    strVar += "<title>joely Shop Bill</title>";
    strVar += "</head>";
    strVar += "<body>";
    strVar += '    <table width="288px" cellpadding="0" cellspacing="0" border="0" style="font-family: Helvetica, Arial, Geneva, sans-serif; border-collapse: collapse; border-spacing:0px;font-size: 8px;">';
    strVar += '        <tr>';
    strVar += '            <td align="center">';
    strVar += '                <table width="288px" align="left" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border: 1px solid #000000; background-color: #ffffff; word-break: break-word; table-layout: fixed;">';
    strVar += '                    <tbody>';
    strVar += '                      <tr>';
    strVar += '                        <td align="center" colspan="4" style="color: #000000;  border-bottom: 1px solid #000000;">Joly Invoice</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="color: #000000;  padding-left: 5px;"><strong>Company Name:</strong></td>';
    strVar += '                        <td colspan="2">'+companyName+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="color: #000000;  padding-left: 5px;"><strong>Date:</strong></td>';
    strVar += '                        <td colspan="3">'+currentDateTime+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="color: #000000;  padding-left: 5px; border-bottom: 1px solid #000000;"><strong>Invoice No:</strong></td>';
    strVar += '                        <td colspan="3" style="border-bottom: 1px solid #000000;">'+orderID+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="color: #000000;  padding-left: 5px;"><strong>Customer Name:</strong></td>';
    strVar += '                        <td colspan="3">'+customerName+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="color: #000000;  padding-left: 5px;"><strong>Phone:</strong></td>';
    strVar += '                        <td colspan="3">'+customerPhone+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="color: #000000;  padding-left: 5px; border-bottom: 1px solid #000000;"><strong>Address:</strong></td>';
    strVar += '                        <td colspan="3" style="border-bottom: 1px solid #000000;">'+customerAddress+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="padding-left: 5px;"><strong>Product</strong></td>';
    strVar += '                        <td><strong>Quantity</strong></td>';
    strVar += '                        <td><strong>Price</strong></td>';
    strVar += '                        <td><strong>Total</strong></td>';
    strVar += '                      </tr>';
    {% for ord in order.product.all%}  
    pname="{{ord.product.name}}";
    strVar += '                      <tr>';
    strVar += '                        <td style="padding-left: 5px;">'+pname+'</td>';
    strVar += '                        <td>'+{{ord.quantity}}+'</td>';
    strVar += '                        <td>'+{{ord.price}}+'</td>';
    strVar += '                        <td>'+{{ord.get_total}}+'</td>';
    strVar += '                      </tr>';
    {% endfor%}
    strVar += '                      <tr>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">Sub Total:</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">'+{{order.subtotal}}+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">Discount:</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">'+{{order.discount}}+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">Total Price:</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">'+{{order.total}}+'</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">Payment Status:</td>';
    strVar += '                        <td style="border-top: 1px dashed #000000;">('+paymentStatus+')</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td colspan="4" style="border-top: 1px dashed #000000;">&nbsp;</td>';
    strVar += '                      </tr>';
    strVar += '                      <tr>';
    strVar += '                        <td align="center" colspan="4" style="color: #000000;  border-top: 1px dashed #000000;">Thank you for your business</td>';
    strVar += '                      </tr>';
    strVar += '                    </tbody>';
    strVar += '                  </table>';
    strVar += '            </td>';
    strVar += '        </tr>';
    strVar += '        <tr>';
    strVar += '            <td height="40">&nbsp;</td>';
    strVar += '        </tr>';
    strVar += '    </table>';
    strVar += '</body>';
    strVar += '</html>';
    
    const printWindow = window.open('', '');
    printWindow.document.open();
    printWindow.document.write(strVar);
    printWindow.document.close();

    // Optionally, you can trigger the print dialog of the new window immediately
    printWindow.print();
  }
  
  
</script>
{% endblock %}
