{% extends 'pos/base/base.html'%}
{% load static %}
{% block main %}
<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-3 px-0">
                        <input class="form-control" placeholder="Enter product barcode no" name="barcode" id="barcode" oninput="(function(event) { event.target.value = event.target.value.replace(/[^0-9]/g, ''); })(event)" />
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" name="category" id="productcategory">
                            <option selected value="">Select category</option>
                            {% for category, category_label in category_choices %}
                                <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category_label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" name="color" id="productcolor">
                            <option value="">Select color</option>
                            {% for color, color_label in color_choices %}
                                <option value="{{ color }}" {% if selected_color == color %}selected{% endif %}>{{ color_label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" name="size" id="productsize">
                            <option value="">Select size</option>
                            {% for size, size_label in size_choices %}
                                <option value="{{ size }}" {% if selected_size == size %}selected{% endif %}>{{ size_label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>  
                <div class="row my-2" id="productzone" style="height: 500px; overflow-y: auto;"></div>
            </div>
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body p-0">
                      <table class="table">
                        <thead>
                          <tr class="light">
                            <th>Product</th>
                            <th>Q</th>
                            <th>S/C</th>
                            <th>Price</th>
                          </tr>
                        </thead>
                        <div>
                        <tbody>
                            <tr class="product-row">
                                <td>
                                    <a class="badge bg-warning mr-2">
                                        <i class="ri-delete-bin-line mr-0"></i>
                                    </a>
                                    Product name may be large
                                </td>
                                <td>
                                    <input type="number" min="1" value="1" style="width: 43px;" class="quantity-input">
                                </td>
                                <td>
                                    <span class="badge badge-primary">size</span>
                                    <span class="badge badge-success">color</span>
                                </td>
                                <td>
                                    <input type="number" min="0" value="0" style="width: 80px;" class="price-input">
                                </td>
                                <input class="product-total" type="hidden" value="0"/>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="subtotal">Sub Total</label>
                            <label for="discount">Discount</label>
                            <label for="total">Total</label>
                            <label for="payment">Payment</label>
                        </div>
                        <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="input-group input-group-sm mb-1">
                                <input type="text" class="form-control" id="subtotal" readonly value="0">
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <input type="text" class="form-control" id="discount">
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <input type="text" class="form-control" id="total" readonly value="0">
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <label>
                                <input class="" type="radio" name="option" value="option1" checked>
                                Card
                                </label>
                                <label>
                                <input class="mx-2" type="radio" name="option" value="option2">
                                Cash
                                </label>
                                <label>
                                <input class="mx-2" type="radio" name="option" value="option3">
                                Due
                                </label>
                            </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <a href="#" class="btn btn-md btn-primary">Bill Generate</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}