<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>POS Dash</title>
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/backend.css'%}">
        <link rel="stylesheet" href="{% static 'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'assets/vendor/remixicon/fonts/remixicon.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/alert.css'%}"/>
        <link rel="stylesheet" href="{% static 'assets/css/theme.css'%}"/>

    </head>
      <style>
        .col-lg-3{
            position: relative;
            width: 100%;
            padding-right: 5px;
            padding-left: 8px;
        }
        .table td {
            padding: 2px 5px !important;
            border: 0px;
            border-bottom: 1px solid #DCDFE8;
            font-size: 14px;
            line-height: initial;
        }
        .table .ligth th {
            font-size: 14px !important;
        }
        .table td, .table th {
            padding: 1rem;
        }
        body.sidebar-main .iq-top-navbar {
            width: calc(100% - 0px);
        }
        @media (min-width: 1300px){
            body.sidebar-main .content-page {
                margin-left: 0px;
            }
        }
        .singleproduct{
            max-height:230px;
        }

      </style>
    <body class="sidebar-main">
        <div class="wrapper">    
            <div class="iq-top-navbar">
                <div class="iq-navbar-custom">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <div class="iq-search-bar device-search">
                            <h3><a href="{% url 'App_pos:poshome'%}">Joely Shop</a></h3>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                    <li class="nav-item nav-icon dropdown">
                                        <a href="{% url 'App_pos:salesreturn' %}" class="search-toggle dropdown-toggle">
                                            <span class="">Sales Return</span>
                                        </a>
                                    </li>    
                                    <li class="nav-item nav-icon dropdown caption-content">
                                        <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="{% static 'assets/images/user/1.png' %}" class="img-fluid rounded" alt="user">
                                        </a>
                                        <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div class="card shadow-none m-0">
                                                <div class="card-body p-0 text-center">
                                                    <div class="p-3">
                                                        <h5 class="mb-1">
                                                        {% if request.user.get_full_name %}
                                                            {{ request.user.get_full_name }}
                                                        {% else %}
                                                            {{ request.user.username }}
                                                        {% endif %}

                                                        </h5>
                                                        <p class="mb-0">{{user.last_login}}</p>
                                                        <div class="d-flex align-items-center justify-content-center mt-3">
                                                            <a href="{% url 'App_Auth:logout'%}" class="btn border">Sign Out</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            {% block main %}

            {% endblock %}
        </div>

        <script src="{% static 'assets/js/backend-bundle.min.js'%}"></script>
        <script src="{% static 'assets/js/table-treeview.js'%}"></script>
        <script src="{% static 'assets/js/customizer.js'%}"></script>
        <script src="{% static 'assets/js/app.js'%}"></script>
        <script src="{% static 'assets/js/alert.js'%}"></script>
        
        {% block js%}

        {% endblock %}
        
    </body>
</html>
